html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-family: roboto;
	color: black;
	line-height: 1.48em;
	letter-spacing: 1px;
}
body h1 {
	color:  #333;
	text-align: center;
	font-family: openSans;
	font-size: 2em;
}
body a {
	color: black;
}
#chat {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
#upper, #leftBar, #receivedMessages, #lower {
	position: absolute;
	overflow: hidden;
}
#upper {
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color:  #673ab7;
	color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
#leftBar {
	top: 10%;
	left: 0;
	width: 25%;
	height: 60%;
	overflow-Y: scroll;
}
#receivedMessages {
	top: 10%;
	left: 25%;
	width: 75%;
	height: 60%;
	overflow-Y: scroll;
}
#lower {
	top: 70%;
	left: 0;
	width: 100%;
	height: 30%;
	color: white;
	text-align: left;
}
#lower button {
	background-color:  #673ab7 !important;
}
#receiverID, #chatMessage {
	background-color:  #673ab7;
	color: black;
}
#onlineUsers, #messages {
	padding: .2em;
	text-align: left;
}
.received {
	color: purple;
}
.sent {
	color: green;
}